<!-- ipbench configuration XML file.  General notes
	* If you receive errors from ipbench about XML parsing you've done something
	wrong in here.
	* More specific options override more generic options.  The most generic options
	come from the command line; then your parent tags and finally the most 
	specific options are inside your tags.
	* In this example configuration file, the value given to each xml attribute is
	the name of the ipbench command line argument which that attribute will override,
	if set.
	* This example configuration file shows every attribute which may be defined and
	which ipbench will recognise. You may omit some of the attributes if you don't
	need them. Required attributes are indicated. Any elements which may be duplicated
	are shown at least twice.
	* The syntax of the ipbench xml config file potentially allows you to configure
	multiple clients pointing tests at different targets, and multiple targets each
	running different tests on themselves. This is not recommended, firstly
	because if you are benchmarking you probably want to accurately study one
	machine's performance, and secondly because ipbench is not written to handle
	understanding results from multiple independent benchmarking operations at once.
	Stick to one target per benchmark run.
-->

<!-- Your config file needs to be in ipbench tags.  There may only be one of these -->
<ipbench>

	<!-- 
		Then you can have *one* test section, that describes the test to run. 
		The valid attributes are
		* name (required) : name of test which the clients will run
		* args : default arguments for clients, affecting how they perform the test
		* target : default hostname for clients to target when running the test
		* port : default port on the target which the clients will point the test at
	-->
	<test name="--test" args="--test-args" port="--test-port" target="--test-target" controller_args="--test-controller-args">

		<!-- 
			Each client can specify a number of arguments; these will
			override defaults passed from the command line or from the
			parent <test> tag. The attributes are

			* hostname (required) : the hostname of a machine ipbenchd is running
			on (as a client)
			* port : the port the ipbenchd daemon is listening on which the
			controller will use to contact the client (if not default)
			* test_target : the hostname the client will target when running a test
			* test_port : the port on the target machine which the client will point
			the test at
			* test_args : any arguments to be passed to this client, affecting how it
			performs the test
		-->
		<client hostname="--client" port="--port" test_port="--test-port" test_args="--test-args" test_target="--test-target"/>
		<client hostname="--client" port="--port" test_port="--test-port" test_args="--test-args" test_target="--test-target"/>
		<client hostname="--client" port="--port" test_port="--test-port" test_args="--test-args" test_target="--test-target"/>
	</test>

	<!-- 
		You can then have target_test sections, if you have something that
		needs to run on a target machine.  Theoretically, you could
		setup a few tests to run on the target by having multiple target_test
		sections and separate daemons on different ports, it might get a bit hairy
		though!
		Equally you can leave out this entire section if you don't want to run a
		test on the target. The attributes are

		* name (required) : the name of the test to run on target machine(s)
		* args : default arguments to be passed to the targets, affecting how they
		run the test
		* controller_args : arguments for the setup_controller function of the test
		running on the targets
	-->
	<target_test name="--target-test" args="--target-test-args" controller_args="--target-test-controller-args">

		<!-- 
			Target machines to run this test are listed here. You can specify multiple
			targets running this test.
			The valid attributes are 
			* hostname (required) : the hostname of a target machine which will run
			this test
			* port : the port on which the target is listening for instructions about
			the test
			* test_args : arguments affecting how the target runs its test
		-->
		<target hostname="--target-test-hostname" port="--target-test-port" test_args="--target-test-args"/>
		<target hostname="--target-test-hostname" port="--target-test-port" test_args="--target-test-args"/>
	</target_test>

	<target_test name="--target-test" args="--target-test-args" controller_args="--target-test-controller-args">

		<target hostname="--target-test-hostname" port="--target-test-port" test_args="--target-test-args"/>
		<target hostname="--target-test-hostname" port="--target-test-port" test_args="--target-test-args"/>
	</target_test>

</ipbench>

