#!/usr/bin/make -f
%:
	dh $@

python_version := $(shell python3 --version | sed -e 's/Python /python/' -e 's/\.[0-9]$$//')
python_major_version := 3

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info

execute_before_dh_install::
	mv debian/tmp/usr/lib/${python_version}/site-packages debian/tmp/usr/lib/${python_version}/dist-packages
# 	mv debian/tmp/usr/lib/${python_version} debian/tmp/usr/lib/python${python_major_version}
